<div id="todoapp">
	<header id="header">
		<input id="new-todo" placeholder="What needs to be done?" events="on:keypress,add" autofocus="">
	</header>
	<section id="main">
		<input id="toggle-all" type="checkbox" events="on:click,toggleAll">
		<label for="toggle-all">Mark all as complete</label>
		<ul id="todo-list" events="delegate:.toggle,click,toggle;delegate:.destroy,click,del;delegate:.label,dblclick,edit" todos="">
		</ul>
	</section>
	<footer id="footer" class="hidden" visible="items">
		<span id="todo-count">
			<strong>0</strong> 
			items left
		</span>
		<button id="clear-completed" events="on:click,delAll" class="hidden">
			Clear completed ()
		</button>
	</footer>
</div>