* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
ul.unstyled {
	list-style: none;
	padding-left:0;
}
a {
	text-decoration: none;
	cursor:pointer;
	outline:0;
	color:#f39c12;
}
a:hover {
	color:#f39c12;
}
img {
	vertical-align: middle;
	border: 0;
}
canvas,
video {
	display: inline-block;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	padding:60px;
	margin: 0;
}


html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}
body {
	background-color: #fff;
	color: #57534a;
	font-family: "freight-sans-pro","Myriad Pro","Myriad",sans-serif;
	font-size: 1.4em;
	line-height: 1.5; 
}

p,
ul,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
	margin: .75em 0 0;
	line-height: 1.5;
}

h1,h2,h3,h4 {
	color: #423f37;
	font-weight: 600;
}

h1{
	margin: 0.6563em 0 0 0;
	font-size: 2.2857em; 
	line-height: 1.3126;
}
h2 {
	margin: 0.75em 0 0 0;
	font-size: 2em; 
	line-height: 1.5;
}
h3 {
	margin: 0.875em 0 0 0;
	font-size: 1.7143em; 
	line-height: 1.75;
}
h4 {
	margin: 1.05em 0 0 0;
	font-size: 1.4286em;
	line-height: 1.05;
}

.nav {
	padding: 0 20px;
  line-height: 80px;
}

.icon {
	font-size:1.8em;
	color: #c7c2b8;
	padding:10px;
}
.icon:hover {
	color:#423f37;
}


@font-face {
	font-family: 'bredele';
	src:url('fonts/bredele.eot');
	src:url('fonts/bredele.eot?#iefix') format('embedded-opentype'),
		url('fonts/bredele.woff') format('woff'),
		url('fonts/bredele.ttf') format('truetype'),
		url('fonts/bredele.svg#bredele') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bredele';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-house:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-github:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}


.smaller {
	font-size: .7143em; 
}
.small {
	font-size: .8571em;
}
.big {
	font-size: 1.1429em;
}
.bigger {
	font-size: 1.2857em;
}
.biggest {
	font-size: 1.4286em;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
	margin:30px;
}

code, 
pre,
samp,
kbd {
	white-space: pre-line;
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
	line-height: 1em;
}
code, kbd, mark {
	border-radius: 2px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

code {
	padding: 2px 4px;
}
mark {
	padding:2px 4px;
	background: #ff0;
}
sup,
sub {
	vertical-align: 0;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

.hidden { display: none; } 

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child{
	margin-top: 0;
}

.mb4 {
	margin-bottom:40px;
}

li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}


img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

table { margin-bottom: 1.5em; }

body > script {display: none !important;}

.mod { 
	overflow: hidden;
}

.clear,
.line,
.row {
	clear: both;
}

.clearfix:after,
.line:after,
.mod:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *,
.col {
	display: table-cell;
	vertical-align: top;
}

.inbl {
	display: inline-block;
	vertical-align: top;
}

.left {
	float: left;
}
img.left {
	margin-right: 1em;
}

.right {
	float: right;
}
img.right {
	margin-left: 1em;
}

img.left, img.right {
	margin-bottom: 5px;
}

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }



.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
	zoom: 1;
}

.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
	display: inline;
	zoom: 1;
}
.ie8 img {
	width: auto;
}

.main {
	width:960px;
}
.article {
	padding-bottom: 100px;
}
.article-footer {
	font-size: 1em;
	color: #a19c91;
}
.article-link {
	color:inherit;
}

.article-date {
	font-size: 1em;
	color: #c7c2b8;
}

.article-body {
	padding: 50px;
	font-size: 1.3em;
}

.article-body h2 {
	/* I don't like that */
	font-size: 1.1em;
}

.post-section {
	color:#423f37;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

@media print {
	p,
	blockquote {
		orphans: 2;
		widows: 2;
	}
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after: avoid;
	}
}

@-webkit-viewport {
	width: device-width;
	zoom: 1.0;
}
@-moz-viewport {
	width: device-width;
	zoom: 1.0;
}
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
}
@-o-viewport {
	width: device-width;
	zoom: 1.0;
}
@viewport {
	width: device-width;
	zoom: 1.0;
}

@media (max-width: 925px) {
	.main {
		width:100%;
	}
}

@media (max-width: 768px) {

	div, textarea, table, td, th, code, pre, samp {
		word-wrap: break-word;
		-webkit-hyphens: auto;
		   -moz-hyphens: auto;
		    -ms-hyphens: auto;
		     -o-hyphens: auto;
		        hyphens: auto;
	}
}

@media (max-width: 640px) {

	.mod,
	.col,
	fieldset {
		display: block !important;
		float: none !important;
		clear: none !important;
		width: auto !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		border: 0;
	}
	.row { 
		display: block !important;
		width: 100% !important;
	}

	th,
	td {
		display: block !important;
		width: auto !important;
		text-align: left !important;
	}
	thead { display: none; }
}