.vertical 
  margin: auto
  position:relative
  width:100px

 .bredele-img
   background:url('assets/bredele.jpeg')
   border-radius:50%

.fs1
  position:absolute
  font-size:2em

 .github
   top:-75px
   left:35px

 .twitter
   left:-75px
   top:35px

 .linkedin
   right:-75px
   top:35px

 .mail
   bottom:-75px
   left:35px
