<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
  <link rel="stylesheet" href="/assets/blog.css"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
  <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>
  <meta property="og:site_name" content="{{ site.inc.title }}">
</head>
<body>
  <nav class="nav">
    <a class="home icon-house" href="/" title="Home"></a>
    <a href="http://twitter.com/bredeleca" target="_blank" class="icon-twitter"></a>
    <a href="http://github.com/bredele" target="_blank" class="icon-github"></a>
    <a href="http://www.linkedin.com/pub/olivier-wietrich/38/a45/15a/en" target="_blank" class="icon-linkedin"></a>    
  </nav>
  <section class="main center" role="main">
    {{ content }}
  </section>
</body>
</html>
