---
layout: base
---

<article class="article">
  <header class="article-header">
      <h1 class="article-title">
        <a class="article-link" href="{{ page.url }}">{{ page.title }}</a>
      </h1>
      <h2 class="article-byline">By Olivier Wietrich</h2>
      <time class="article-date"  datetime="{{ page.date | date: "%Y-%d-%B" }}">{{ page.date | date: "%B %d, %Y" }}</time>
    </header>
  <div class="article-body">
     {{ content }}
  </div>
  <footer class="article-footer"></footer>
</article>